<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto"
    package="com.sanjay.dotcamera"
    android:versionCode="14"
    android:versionName="1.2.2" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@mipmap/dotcamera"
        android:label="@string/app_name" android:theme="@style/Theme.ACTheme">
        <activity
            android:label="@string/app_name"
            android:name=".AsciiCamActivity" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="LibraryActivity"></activity>
        <activity android:name="ViewImageActivity" android:screenOrientation="landscape"></activity>
        <activity android:name="AboutActivity"></activity>
        <activity android:name="AsciiCamPreferences"></activity>
        
        <receiver android:name="com.sanjay.dotcamera.NewPictureReceiver" android:label="NewPictureReceiver"
            android:enabled="false">
           <intent-filter>
                <action android:name="android.hardware.action.NEW_PICTURE" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.sanjay.dotcamera.NewPictureReceiverLegacyBroadcast" android:label="NewPictureReceiverLegacyBroadcast"
            android:enabled="false">
           <intent-filter>
                <action android:name="com.android.camera.NEW_PICTURE" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>
        
        <service android:name=".NewPictureJob"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>
    
</manifest>